<HTML>
    <BODY>
    <H1>Welcome to my info template page</H1>
    <H2>IPv4 : {{ ansible_all_ipv4_addresses }}</H2>
    <H2>Distribution : {{ ansible_distribution }}</H2>
    <H2>DNS : {{ ansible_dns }}</H2>
    <H2>Env : {{ ansible_env }}</H2>
    <H2>OS Family : {{ ansible_os_family }}</H2>
    <H2>Package manager : {{ ansible_pkg_mgr }}</H2>
    </BODY>
</HTML>